{% extends "base.html" %}

{% block head %}
    <title>Create Meetup - {{ app_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='trip/trips.css') }}">
{% endblock %}

{% block content %}
<h1 class="m-3">Create meetup for: {{ trip.title }}</h1>
<form action="{{ url_for('trip.create_meeting', trip_id=trip.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">Mandatory</h5>

            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" name="meeting_title" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Scheduled time</label>
                <input type="datetime-local" name="scheduled_time" class="form-control" required>
            </div>
        </div>
    </div>

    <div class="card m-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <strong>Optional / Tentative details</strong>
            <button class="btn btn-sm btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#optionalMeetup" aria-expanded="false" aria-controls="optionalMeetup">
                <i class="bi bi-chevron-down"></i>
            </button>
        </div>
        <div class="collapse" id="optionalMeetup">
            <div class="card card-body">
                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <input type="text" name="location" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3">
        <button type="submit" class="btn btn-primary">Create meetup</button>
        <a class="btn btn-secondary ms-2" href="{{ url_for('trip.view_trip', trip_id=trip.id) }}">Cancel</a>
    </div>
</form>
{% endblock %}
