{% set app_name = "Travel Babyy" %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main/details.css') }}">
        {% block head %}{% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <a href="{{ url_for('main.index') }}" class="logo">{{ app_name }}</a>

                {% if request.endpoint == 'main.index' %}
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline mx-auto">
                            <input id="search-bar" class="form-control w-100" type="search" placeholder="Search Trip..." aria-label="Search Trip">
                        </form>
                    </nav>
                {% endif %}

                <nav class="nav-links">
                    <a href="{{ url_for('main.index') }}"
                        class="btn {% if request.endpoint == 'main.index' %} btn-primary{% endif %}"
                        aria-current="{% if request.endpoint == 'main.index' %}page{% endif %}">Home</a>

                    <a href="{{ url_for('profile.view_profile') }}"
                        class="btn {% if request.endpoint == 'profile.view_profile' %} btn-primary{% endif %}"
                        aria-current="{% if request.endpoint == 'profile.view_profile' %}page{% endif %}">Profile</a>

                    <a href="{{ url_for('trip.create_trip') }}"
                        class="btn {% if request.endpoint == 'trip.create_trip' %} btn-primary{% endif %}"
                        aria-current="{% if request.endpoint == 'trip.create_trip' %}page{% endif %}">Create Trip</a>

                    <a href="{{ url_for('auth.logout') }}" class="btn">Logout</a>
                </nav>
            </div>
        </div>

        <div class="main-wrapper">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="notification-wrapper" aria-live="polite" aria-atomic="true">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="notification {{ NOTIFICATION_TYPES.get(category, category) }}" data-duration="10000">
                        <div class="notification-content">{{ message }}</div>
                        <button class="close-btn" aria-label="Close">&times;</button>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>

        <footer class="footer">
            <p>&copy; 2025 {{ app_name }}. All rights reserved.</p>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/main/notifications.js') }}"></script>

    {% block scripts %}{% endblock %}

    </body>
</html>
