{% extends 'base.html' %}

{% block head %}
    <title>Home - {{ app_name }}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='trip/trips.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="trips-grid">
        {% for trip in trips %}
            <a id="trip-{{ trip.id }}" class="trip-card" href="{{ url_for('trip.view_trip', trip_id=trip.id) }}" search-terms='{{ ([trip.title] + trip.destinations) | tojson }}'>
                <div class="trip-card-header">{{ trip.title or 'Untitled trip' }}</div>
                <div class="trip-card-body">
                    <p class="trip-dest">Destinations: </p>
                        {% if trip.destinations | length == 0 %}
                            <em>No destinations specified.</em>
                        {% else %}
                            {% for destination in trip.destinations %}
                                <span>{{ destination }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p class="trip-dates">Dates: 
                        {% if trip.dates | length == 0 %}
                            <em>No dates specified.</em>
                        {% else %}
                            {% for start, end in trip.dates %}
                                <span>{{ start }} - {{ end }}</span>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <p>By {{ trip.user.username }} ( {{ trip.participants|length }}/{{ trip.max_participants }} )</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<div id="map"> </div>

<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-o9R3dAqaYI1yZC1t8f2ZQwxr3m1W7L3Y+ozJmD5n1kA="
    crossorigin=""></script>

<script> 
    const map = L.map('map').setView([54, 15], 3);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
</script>
{% endblock %}
