{% extends 'base.html' %}

{% block head %}
    <title>Home - {{ app_name }}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='trip/trips.css') }}">
{% endblock %}

{% block content %}

<div> 
    <!-- Shold replace with a html template for leaflet-->
    <div class= "map-wrapper">
        <div id="map"
        {% if user_home %}
        data-lat="{{ user_home[0] }}"
        data-lon="{{ user_home[1] }}"
        data-country="{{ user_country }}"
        {% endif %}>
        </div>
        <div id="map-margin">hello</div>
    </div>
    {% include "dashboard/dashboard.html" with context %}
</div>


<script src ="{{ url_for('static', filename='js/main/home_popup.js') }}"></script>
<script src="{{ url_for('static', filename='js/main/index.js') }}"></script>
{% endblock %}
