html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    background-color: #f5f8fa;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 12px 16px;
    width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.main-wrapper {
    flex: 1 0 auto;
    display: block;
    min-height: 0;
    background-color: #e1e8ed;
}

.header {
    background: white;
    border-bottom: 1px solid #e1e8ed;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.footer {
    background: white;
    border-top: 1px solid #e1e8ed;
    text-align: center;
}

.footer p {
    color: #888;
}

.main-feed {
    grid-column: 2;
}
