html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #f5f8fa;
}

.main-wrapper {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/climbing.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;

    background: white;
    border-bottom: 5px solid #e1e8ed;
    top: 0;
    z-index: 10000;
}

.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar {
    flex-grow: 1;
    max-width: 600px;
}
.dbm-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
    
.main-wrapper {
    flex: 1 0 auto;
    display: block;
    min-height: 0;
    background-color: #e1e8ed;
}

.footer {
    background: white;
    text-align: center;
}

.footer p {
    position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6vh;

    color: #888;
}

.main-feed {
    grid-column: 2;
}
