
.dashboard-container {
    position: relative;
    background-color: rgb(247, 247, 247);

    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 80vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
}

.dashboard-handle {
    position: relative;
    width: 10vw;
    height: 5px;
    background-color: #afafaf;
    border-radius: 3px;
    margin: 20px auto;
}