.map-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

#map {
    height: 500px;
    width: 80%;
    border-radius: 10px;
    margin-top: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }