.map-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

#map {
    position: absolute;
    height: 80vh;
    width: 98vw;
    border-radius: 10px;
    margin-top: 20px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;

  }

  #map-margin {
    position: relative;
    width: 100%;
    height: 80vh;

    opacity: 0;               
    pointer-events: none;     

    background-color: tomato;
  }