
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/dashboard.css') }}">
{% endblock %}

<div class="dashboard-container">
    <div class="dashboard-handle" id="dashboard-handle"></div>
    <div class="trips-grid" id="trips-grid">
        <h2>Your Trips</h2>
        {% if user_trips|length == 0 %}
            <p>You have not created any trips yet.</p>
        {% else %}
            {% for trip in user_trips %}
                {% include 'trip/trip_card.html' with context %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="trips-grid">
        <h2>All Trips</h2>
        {% for trip in overall_trips %}
            {% include 'trip/trip_card.html' with context %}
        {% endfor %}
    </div>
    </div>
</div>
{% block scripts %}
    <script src="{{ url_for('static', filename='js/main//dashboard_scroll.js') }}"></script>
{% endblock %}